DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smarto?schema=public"
NEXTAUTH_SECRET="smarto-super-secret-key-j2k-rayong-2026"
NEXTAUTH_URL="http://localhost:3000"

LINE_CLIENT_ID=""
LINE_CLIENT_SECRET=""

OPENAI_API_KEY=""

REDIS_URL="redis://localhost:6379"

MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"

TZ="Asia/Bangkok"
